.aboutus-sec .about-img img {
    width: 30rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.about-sec {
    width: 85%;
    margin: auto;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}

.about-sec h2 {
    margin: 2rem 0;
}